<head>
	<meta charset="utf-8">
	<title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
	<meta name="author" content="{{ .Site.Params.author }}">
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bulma.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/fontawesome/css/fontawesome.css" >
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/fontawesome/css/brands.css" >
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/fontawesome/css/solid.css" >
  </head>
